@charset "UTF-8";

/*Para a página geral*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagens/imagem2.jpg);
    background-position: 100%;
}

header {
    text-align: center;
}