@charset "UTF-8";

/*Para a página geral*/

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

:root {
    --cor0: #adb1bc84;
    --cor1: #969CA8;
    --cor2: #272F3C;
    --cor3: #191C2B;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagens/imagem2.jpg);
    background-position: center center;
}

header {
    font-family:"Iceland", sans-serif;
    text-align: center;
    background-color: var(--cor0);
    font-size: 1.9em;

    
}

header > h1 {
    
}

header > p {
    
}

nav {
    
}

nav > a {
   
}

nav > a:hover {
   
    
}