@charset "UTF-8";

. {
    padding: 0px;
    
}




body{
    background-image: url(../imagens/Sem\ título-1_Prancheta\ 1.svg);
    background-color: #F8E8D9;
    background-repeat: no-repeat;
    background-size: cover;
    

    
    
    
    
}


nav {
}