@charset "UTF-8";






body.grande {
    background-image: url(../imagens/fundo\ grande_Prancheta\ 1.png);
    background-color: #F8E8D9;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 961px;
    
    
    
}

body.medio{
    background-image: url(../imagens/fundo\ médio\ 1_Prancheta\ 1.png);
    background-color: #F8E8D9;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 960px;
    
   

}

nav {
}