@charset "UTF-8";

@font-face {
    font-family: 'zeyada';
    src: url(../fontes/zeyada.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url(../imagens/Sem\ título-1_Prancheta\ 1.svg);
    background-color: #F8E8D9;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header > h1{
    font: normal lighter 4em 'zeyada', sans-serif;
    text-align:justify;
    margin-left: 55px;
    
}

header > p{
    
}
nav {
}