@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Sacramento&family=Yomogi&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

section{
    padding: 0px 20px 0px 20px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.texto{
    width: 42vw;
    align-content: center;
    text-align: justify;
    font-family: "Yomogi", cursive;
    
}


img{
    width: 220px;
    height: 344px;
    background-position: center;
}